{% extends 'base.html' %}
{% block content %}
  <h3>New post entry</h3>
  <form action="." method="post" enctype="multipart/form-data" id="postForm">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        {{ form.as_p }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button type="submit" class="btn btn-success btn-block" id="submit">
          Save
        </button>
      </div>
    </div>
  </form>
{% endblock %}
{% block scripts %}
  <script src="https://cdn.ckeditor.com/ckeditor5/12.1.0/classic/ckeditor.js"></script>
  <script>
    ClassicEditor
      .create(document.querySelector('#id_text'))
      .catch(error => {
        console.error(error);
      });
  </script>
{% endblock %}
