{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md">
      <h1>Hello world</h1>
      <small>
        This is a little and dumb project to show integration of
        CKEditor with Django.
      </small>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md">
      <h2>Posts entries</h2>
    </div>
    <div class="col-md">
      <a href="{% url 'blog:create' %}" class="btn btn-info">
        New post
      </a>
    </div>
  </div>
  {% for object in object_list %}
    <div class="row">
      <div class="col-md">
        <a href="{% url 'blog:detail' object.slug %}">
          {{ object.title }}
        </a>
      </div>
    </div>
  {% endfor %}

{% endblock %}
