{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md">
      <h2>{{ postentry.title }}</h2>
    </div>
    <div class="col-sm">
      <a href="{% url 'blog:update' postentry.slug %}" class="btn btn-info">
        Edit post
      </a>
      <a href="{% url 'blog:index' %}" class="btn btn-primary">
        Back to list
      </a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md">
      {{ postentry.text|safe }}
    </div>
  </div>
{% endblock %}
